#!/usr/bin/env nextflow

params {
  // ...................................
  // input
  help=false
  read_type="PE"
  reads_for=false
  reads_rev=false
  reads=false
  threads=4
  output_dir="JLOH_run"
  sample_id="smpl"
  ref_genome=false
  // ...................................
  // trimming
  skip_trimming=false
  adapters=false
  leading=20
  trailing=20
  sliding_window="4:25"
  avgqual=20
  minlen=35
  // ...................................
  // read mapping
  scoring_fun="L,0.0,-1.0"
  mm_penalties="6,2"
  gap_penalties="5,3"
  min_isize=0
  max_isize=1000
  // ...................................
  // LOH blocks
  min_qual=20
  min_alt_frac=0.05
  min_depth=10
  mq0f=0.05
  // ...................................
  // jloh
  min_het_snps=2
  snp_distance=100
  min_loh_size=100
  block_distance=100
  min_het_af=0.3
  max_het_af=0.7
  min_frac_cov=1.5
  max_frac_cov=0.5
  t0_filter_type="remove"
  hemizygous_cov=0.75
  alpha=0.05
}

env {
  FASTQC="fastqc"
  TRIMMOMATIC="trimmomatic"
  HISAT2="hisat2-align-s"
  HISAT2_BUILD="hisat2-build"
  SAMTOOLS="samtools"
  BCFTOOLS="bcftools"
  ALL2VCF="/gpfs/projects/bsc40/mschiavi/software/all2vcf/all2vcf"
  JLOH="/gpfs/projects/bsc40/mschiavi/software/jloh/source/jloh"
  BIOAWK="bioawk"
  BEDTOOLS="bedtools"
}
