#!/usr/bin/env nextflow

params {
  // ...................................
  // input
  help=false
  threads=4
  output_dir="JLOH_run"
  input_data=false
  // ...................................
  // trimming
  adapters=false
  leading=20
  trailing=20
  sliding_window="4:25"
  avgqual=20
  minlen=35
  // ...................................
  // read mapping
  scoring_fun="L,0.0,-1.0"
  mm_penalties="6,2"
  gap_penalties="5,3"
  min_isize=0
  max_isize=1000
  // ...................................
  // SNP filtering
  min_qual=20
  min_alt_frac=0.05
  min_depth=10
  mq0f=0.05
  // ...................................
  // genome pairwise distance
  min_mum_length=1000
  min_mum_id=95
  // ...................................
  // jloh
  min_snps=2
  snp_distance=100
  min_loh_size=1000
  min_af=0.2
  max_af=0.8
  min_frac_cov=0.5
  hemizygous_cov=0.75
  min_uncovered=10
  var_filter="all"
}

env {
  FASTQC="fastqc"
  TRIMMOMATIC="trimmomatic"
  HISAT2="hisat2-align-s"
  HISAT2_BUILD="hisat2-build"
  SAMTOOLS="samtools"
  BCFTOOLS="bcftools"
  ALL2VCF="${projectDir}/src/all2vcf/all2vcf"
  JLOH="${projectDir}/jloh"
  BIOAWK="bioawk"
  BEDTOOLS="bedtools"
}
