params {
  ref_genome="/gpfs/projects/bsc40/current/mschiavi/jloh/raw_data/S_cerevisiae.fa"
  output_dir="/gpfs/projects/bsc40/current/mschiavi/jloh/results-sim_data"
  loh_mean_length=5000
  max_mq0f=0.05
  min_depth=4
  min_qual=20
  min_af=0.05
}

env {
  JLOH="jloh"
  WGSIM="wgsim"
  SAMTOOLS="samtools"
  BCFTOOLS="bcftools"
  HISAT2_BUILD="hisat2-build"
  HISAT2="hisat2-align-s"
  AWK="awk"
  BIOAWK="bioawk"
  ALL2VCF="all2vcf"
  TP_TN_SCRIPT="/gpfs/projects/bsc40/current/mschiavi/jloh/scripts/wf-sim_data/src/tp_tn_rates.py"
}
